{% extends 'base.html' %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block content %}
<h1>{{ _('Log In') }}</h1>
<div class="row">
    <div class="col-md-4">
        {{ wtf.quick_form(form) }}
    </div>
</div>
<br>
<p>{{ _('New User') }}? <a href="{{ 'reg' }}">{{ _('Click to Register!') }}</a></p>
{% endblock %}
